*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{

    background-color: aquamarine;
}

header{

    background-color: blueviolet;
    padding: 10px;
    margin-bottom: 30px;    
}



ul{

    display: flex;
    justify-content: space-around;
    list-style: none;

}

div img{

    width: 250px;

}

