@charset "utf-8";

body {
    background-color: rgb(171, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
}

h1#primeiro {
    text-align: center;
    background-color: rgb(11, 184, 184);
    color: black;
}

.intermediario {
    color: rgb(4, 70, 70);
}

h1 {
    color: rgb(25, 58, 71);
}

h2 {
    color: rgb(25, 88, 170);
}